/*Whole site*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  /*BODY*/
  body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    line-height: 1.5;
    z-index: -3;
    color: #fff;
    background: linear-gradient(270deg, #050d30, #003c8f, #0540f2, #5a3a96);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
  }
  
    
  @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  

  /*Video Header*/
  .v-cover {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 1;
  }
  
  .container {
    padding: 2rem 1rem;
    margin: auto;
    text-align: center;
    z-index: 3;
    align-items: center;
  }
  
  .fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    
  }
  

  .portada {
    width: 100vw;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }



  .cover-logo{
    min-width: 28rem;
    height: auto;
    margin-top: 3rem;

  }


  img .cover-logo {
    width: 30rem;
    height: auto;
  }
  

  .button {
    background:transparent;
    color: #fff;
    border: solid #fff;
    font-size: 2rem;
     margin: 2rem;
    border-radius: 80px;
    display: inline-block;
    text-align: center;
    font-family: 'Orbitron', cursive;
    padding: 0.5rem;
    width: 280px;
  }
  
  .button:hover {
    text-decoration: none;
    background: #fff;
    border: solid #fff;
    color: #003c8f;
  }
  

  .top-buttons{
    margin-top: 19rem;
    z-index: 0;
  }
  
  .media-button {
    background: #000;
    color: #fff;
    font-size: 2rem;
    border-radius: 80px;
    display: inline-block;
    text-align: center;
    font-family: 'Orbitron', cursive;
    border: solid;
    border-color: #000;
    padding: 0.5rem;
    width: 250px;
  }
  
  .media-button:hover {
    text-decoration: none;
    background: transparent;
    border-color: #fff;
    border: solid 3px;
    color: #fff;
  }

  /*MENU BAR*/
  .sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  .main_menu {
    list-style: none;
    overflow: hidden;
    background: #000;
  }
  
  
  .secondary_menu {
    list-style: none;
    overflow: hidden;
    background: #000;
  }
  
  nav li {
    float: left;
    color: #fff;
    margin: 0;
    font-family: 'Orbitron', cursive;
    padding: 1rem;
    display: inline-block;
    text-align: center;
    width: 10rem; /*quitar width en modo responsivo*/
  }
  
  .menu a {
    text-align: center;
    text-decoration: none;
    position: sticky;
  }
  
  ul li:hover {
    transition: 0.2s ease;
    background: #fff;
    color: #003c8f;
    font-weight: bolder;
  }
  
  .toggle {
    display: none;
  }
  
  /*sections*/
  .title {
    font-family: 'Passion One', cursive;
    font-size: 5rem;
    width: 100%;
    align-content: center;
    margin: 0.5rem 0 4rem 0;
  }
  
  p {
    text-align: justify;
    font-size: 1.35rem;
    font-family: 'Orbitron', cursive;
  }

  
  .white {
    color: #fff;
    min-height: 350px;
    padding: 2rem 0;
    margin: 2rem 0;}

    .white-contact {
      color: #fff;
      min-height: 350px;
      padding: 2rem 0;
      margin: 2rem 0;}
  
    .white2 {
      color: #fff;
      height: 350px;
      padding: 2rem 0 0;
      margin: 2rem 0 0;}
  
.media-mobile{
  display: none;
}
  
.white2-mobile{
  display: none;
}

.white-mobile{
  display: none;
}
.contact-mobile{
  display: none;
}
  .media-icons{
    font-size: 5rem;
    text-align: center;
  }
  

  .fa-facebook-f:hover{
    color:#3b5998 ;
    padding: 2rem 3rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 3px 10px rgba(0,0,0,.50);
    animation: shake 2s ;
  }
  .fa-twitter:hover{
    color:#00acee ;
    padding: 2rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 3px 10px rgba(0,0,0,.50);
    animation: shake 2s ;
  }
  .fa-instagram:hover{
    padding: 2rem 2.5rem;
    border-radius: 50%;
    background: #fff;
    color: #d6249f;
    box-shadow: 0px 3px 10px rgba(0,0,0,.50);
    animation: shake 2s ;
  }
  .fa-twitch:hover{
    color:#6441a5 ;
    padding: 2rem 2.5rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 3px 10px rgba(0,0,0,.50);
    animation: shake 2s ;
  }
  .fa-youtube:hover{
    color:#FF0000 ;
    padding: 2rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 3px 10px rgba(0,0,0,.50);
    animation: shake 2s ;
  }

  .fa-discord:hover{
    color:#7289DA;
    padding: 2rem 2.5rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 3px 10px rgba(0,0,0,.50);
    animation: shake 2s ;
  }
  
  
  /*Contact*/
  .media-icons a {
    text-decoration: none;
    color: unset;
  }
  
  .media-icons a:hover {
    text-decoration: none;
  }
  
  .escondido {
    display: none;
  }

  #Enviar{
    font-size: 1.5rem;
    width: 180px;
  }

 .form{
    font-family: 'Orbitron', cursive;
  }


  .banner img{
    width: 15rem;
    height: auto;
    margin:-1rem 2rem 1rem 0;
  }

  .afiliado{
    width: 9rem;
    margin:0 2rem 1rem 2rem;
  }



  /*TO TOP BUTTON*/
  .top {
    display: none;
    bottom: 2.5rem;
    right: 0;
    background: #003c8f;
    color: #fff;
    font-size: 3rem;
    border-radius: 50%;
    position: fixed;
    line-height: 1rem;
    margin: 1.5rem;
    z-index: 3;
  }
  
  
  .top:hover {
    background: #fff;
    color: #000;
  }
  
  .top2 {
    display: none;
  }
  
  /*footer*/
  footer a:hover {
    text-decoration: none;
  }
  
  #footer p {
    background: #000;
    color: #fff;
    padding: 0.5rem 0;
    font-size: 0.85rem;
    margin: 0;
    text-align: center;
    font-family: 'Arial', cursive;
  }
  
  
  #footer p:hover {
    color: #003c8f;
  
  }
  